<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>thespacious</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/main.css">

</head>

<body>
    <header style="border-bottom: 1.3px solid #000;">
        <div class="main-nav">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand text-uppercase" href="https://www.template.net/editable/websites/html5">www.template.net</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                                <span>+</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="services.html">services</a>
                                <span>+</span>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="products.html">products</a>
                                <span>+</span>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="blog.html">read blog</a>
                                <span>+</span>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">contact</a>
                                <span>+</span>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="support.html">support</a>
                            </li>

                        </ul>

                    </div>
                </nav>
            </div>
        </div>
        <div class="head-content">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-6 float-left">
                        <h2 class="text-uppercase">the
                            <span>spacious</span>
                        </h2>
                        <p class="text-uppercase">one of the best and cleaniest wordpress theme for agencies and online portfolios</p>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-6 float-right social">

                        <div class="search-box">
                            <input type="text" required placeholder="Search for products">
                            <a href="#">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>

                        <div class="social-icons">
                            <span>
                                <i>Follow us on Social Media</i>

                                <a href="https://www.twitter.com">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="https://www.facebook.com">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="https://www.gmail.com">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="https://www.youtube.com">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="inner" data-aos-easing="linear" data-aos="fade-right" data-aos-duration="1000">
                        <h1>About Us</h1>
                        <a href="#">
                            <img src="images/about.jpg" id="aboutimg" alt="aboutus">
                        </a>
                    </div>

                </div>
                <div class="col-12 col-lg-6 second">
                    <div class="text" data-aos-easing="linear" data-aos="fade-left" data-aos-duration="1000">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                            type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum.</p>
                    </div>
                </div>

                <div class="col-12">
                    <div class="text1" data-aos-easing="linear" data-aos="fade-up" data-aos-duration="1000">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                            type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="text2" data-aos-easing="linear" data-aos="fade-up" data-aos-duration="1000">
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <footer>
        <div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="800" class="container">
            <div class="row">
                <div class="col-12 col-sm-5">
                    <div class="brand site">
                        <h3>the
                            <span>spacious</span>
                        </h3>
                        <p>one of the best and cleaniest wordpress theme for agencies and online portfolios</p>
                    </div>
                </div>

                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <div class="site">
                                <h4 class="text-uppercase drop">
                                    site navigation
                                    <i class="fa fa-angle-down float-right d-sm-none" aria-hidden="true"></i>
                                </h4>
                                <ul class="list">
                                    <li>
                                        <a href="index.html">GO TO HOME</a>
                                    </li>
                                    <li>
                                        <a href="services.html">SERVICES</a>
                                    </li>
                                    <li>
                                        <a href="products.html">PRODUCTS</a>
                                    </li>
                                    <li>
                                        <a href="blog.html">READ BLOG</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">CONTACT US</a>
                                    </li>
                                    <li>
                                        <a href="support.html">PRODUCT SUPPORT</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="site">
                                <h4 class="text-uppercase drop1">information
                                    <i class="fa fa-angle-down float-right d-sm-none" aria-hidden="true"></i>
                                </h4>
                                <ul class="list1">
                                    <li>
                                        <a href="#">USER LOGIN</a>
                                    </li>
                                    <li>
                                        <a href="#">CREATE NEW ACCOUNT</a>
                                    </li>
                                    <li>
                                        <a href="productsingle.html">CHECKOUT</a>
                                    </li>
                                    <li>
                                        <a href="productsingle.html">MY CART</a>
                                    </li>
                                    <li>
                                        <a href="about.html">OTHER INFORMATION</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="site">
                                <h4 class="text-uppercase drop2">polocies & info
                                    <i class="fa fa-angle-down float-right d-sm-none" aria-hidden="true"></i>
                                </h4>
                                <ul class="list2">
                                    <li>
                                        <a href="#">Terms Conditions</a>
                                    </li>
                                    <li>
                                        <a href="#"> website polocy</a>
                                    </li>
                                    <li>
                                        <a href="#"> Policy for Sellers </a>
                                    </li>
                                    <li>
                                        <a href="#">Policy for Buyers </a>
                                    </li>
                                    <li>
                                        <a href="#">Shipping & Refund </a>
                                    </li>
                                    <li>
                                        <a href="#">Wholesale Policy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </footer>
    <div class="footer text-center text-uppercase float-left w-100">
        <p>(C) 2017, All rights reserved. thespacious theme. designed by
            <a href="https://www.template.net/editable/websites/html5">Template.net</a>
        </p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script src="js/script.js"></script>
</body>

</html>